<section class="legis-content">
	<!-- kolumna lewa: projekty -->
	<section class="legis-column legis-column--projects" aria-label="Aktualne projekty">

		<div class="filters">
			<p-floatlabel>
				<input type="text" [(ngModel)]="titleFilter" pInputText />
				<label for="over_label">Tytuł</label>
			</p-floatlabel>

			<!-- <p-floatlabel>
				<p-select [(ngModel)]="statusFilter" [options]="statusFilters" [showClear]="true"></p-select>
				<label for="over_label">Status</label>
			</p-floatlabel> -->

			<!-- <p-floatlabel>
				<p-datepicker inputId="over_label" showIcon iconDisplay="input" selectionMode="range" [(ngModel)]="dateAnnouncementRangeFilter" [showClear]="true"/>
				<label for="over_label">Zakres dat wprowadzenia</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-datepicker inputId="over_label" showIcon iconDisplay="input" selectionMode="range" [(ngModel)]="dateChangeRangeFilter" [showClear]="true"/>
				<label for="over_label">Zakres dat zmiany</label>
			</p-floatlabel> -->

		</div>
		
		<div class="projects">

			<p-table 
			[value]="consultationsFiltered()" 
			showGridlines 
			[tableStyle]="{ 'min-width': '50rem' }" 
			selectionMode="single"
			[(selection)]="selected"
			>
				<ng-template #header>
					<tr>
						<th>Tytuł</th>
						<!-- <th>Wnioskodawca</th> -->
						<!-- <th>Status</th> -->
						<th>Status</th>
						<th>Data startowa</th>
						<th>Data końcowa</th>
						<th>Data wprowadzenia</th>
						<!-- <th>PDF</th> -->
						<th>DOCX(word)</th>
					</tr>
				</ng-template>
				<ng-template #body let-consultation>
					<tr [pSelectableRow]="consultation" (click)="openComments()">
						<td>{{ consultation.project_name }}</td>
						<td>{{ mapStatus(consultation.status) }}</td>
						<td>{{ consultation.start_date | date: 'dd.MM.yyyy' }}</td>
						<td>{{ consultation.end_date | date: 'dd.MM.yyyy'}}</td>
						<td>{{ consultation.submission_date | date: 'dd.MM.yyyy' }}</td>
						<td>
							<a [href]="getPdfLink(consultation.consultation_id)">
								DOCX 
							</a>
							<!-- <a href="https://orka.sejm.gov.pl/Druki10ka.nsf/dok1?OpenAgent&10-RPW-40474-2025">
								PDF 
								<img src="assets/icon_pdf.gif" /> 
							</a> -->
						</td>
						<!-- <td>
							<a href="https://orka.sejm.gov.pl/Druki10ka.nsf/dok1?OpenAgent&10-RPW-40474-2025">
								DOCX 
								<img src="assets/icon_rtf.gif" /> 
							</a>
						</td> -->
					</tr>
				</ng-template>
			</p-table>
		</div>
	</section>
</section>