<div class="app-shell">
	<aside class="sidebar">
		<div class="sidebar-logo">
		<span class="logo-square"></span>
		<span class="logo-text">Sejm RP</span>
		</div>

		<nav class="sidebar-nav">
		<div class="nav-item active">Test</div>
		<div class="nav-item">Etap prac</div>
		<div class="nav-item">Etap prac (DUE)</div>
		<div class="nav-item">Komisje sejmowe</div>
		<div class="nav-item">Komunikaty publiczne</div>
		<div class="nav-item">Prezydent</div>
		<div class="nav-item">Dziennik Ustaw</div>
		</nav>
	</aside>
	<div class="main">
		<app-legislative-tracker></app-legislative-tracker>
	</div>
</div>
