:host {
  .p-select {
    background: #1f2937 !important; /* lekko jaśniejszy od #111827 */
    border: 1px solid #374151 !important;
    color: #f3f4f6 !important;
    border-radius: 6px !important;
  }

  /* Tekst wybranej wartości */
  ::ng-deep .p-select-label {
    // color: #f3f4f6 !important;
    color: white !important;
  }

  /* Ikona strzałki */
  .p-select-trigger-icon {
    color: #9ca3af !important;
  }

  /* Hover nad dropdownem */
  .p-select:not(.p-disabled):hover {
    border-color: #4b5563 !important;
  }

  /* Focus */
  .p-select.p-focus {
    border-color: #6366f1 !important; /* fiolet PrimeNG */
    box-shadow: 0 0 0 1px #6366f1 !important;
  }

  /* Panel rozwijany */
  .p-select-list-container {
    background: #111827 !important;
    border: 1px solid #374151 !important;
  }

  /* Element listy */
  .p-select-item {
    color: #e5e7eb !important;
  }

  /* Hover listy */
  .p-select-item:not(.p-disabled):hover {
    background: #1f2937 !important;
  }

  /* Wybrany element listy */
  .p-select-item.p-highlight {
    background: #374151 !important;
    color: #ffffff !important;
  }
}