<div class="legislation-page">
  <header class="page-header">
    <div class="page-header__content">
      <h1 class="page-header__title">
        Proces legislacyjny
      </h1>
      <p class="page-header__subtitle">
        {{title}} 
        <!-- Przykładowy timeline z linią pośrodku i kartami po lewej oraz prawej stronie. -->
      </p>
    </div>
  </header>

  <main class="page-content">
    <section class="timeline-section">
      <p-timeline
        [value]="steps"
        layout="vertical"
        align="alternate"
        class="legislation-timeline"
      >
        <ng-template pTemplate="marker" let-step>
          <div class="timeline-marker">
            <div class="timeline-marker__dot"></div>
          </div>
        </ng-template>

        <ng-template pTemplate="content" let-step>
          <p-card class="timeline-card">
            <h3 class="timeline-card__title">
              {{ step }}
            </h3>
            <!-- <p class="timeline-card__description">
              {{ step.date | date: 'dd.MM.yyyy'}}
            </p> -->
          </p-card>
        </ng-template>
      </p-timeline>
    </section>
  </main>
</div>
