<section class="legis-content">
	<!-- kolumna lewa: projekty -->
	<section class="legis-column legis-column--projects" aria-label="Aktualne projekty">
		<header class="legis-column__header">
				<h2>Aktualne projekty</h2>
				<span class="legis-column__count">12 projektów</span>
		</header>
		
		<!-- <p-virtualscroller [items]="fakeProjects" [itemSize]="10" scrollHeight="500px" styleClass="border border-surface"> -->
			<!-- <ng-template > -->
		<div class="projects">
			@for(item of fakeProjects; track $index; let i = $index) {
				<!-- (click)="selectProject(project)" -->
				<legis-project
				(click)="selectProject(i)"
				[selected]="item.selected"
				[name]="item.name"
				[source]="item.source"
				[status]="item.status"
				[step]="item.step"
				></legis-project>
			}
		</div>
			<!-- </ng-template> -->
		<!-- </p-virtualscroller> -->
	</section>

	<!-- kolumna prawa: dokumenty / szczegóły -->
	<section class="legis-column legis-column--details" aria-label="Szczegóły projektu">
	<header class="legis-column__header">
			<h2>Szczegółowe informacje</h2>
	</header>

	<section class="legis-card">
			<h3>Termin najbliższego posiedzenia</h3>
			<p>Komisja Finansów Publicznych – 12.12.2025, godz. 10:00</p>
			<p>Sala 118, budynek C, Sejm RP</p>
			<button class="gov-btn gov-btn--secondary gov-btn--full">
			Zobacz porządek obrad
			</button>
	</section>

	<section class="legis-card">
			<h3>Dokumenty</h3>
			<ul class="legis-doc-list">
			<li>
					<a href="#">Projekt ustawy (PDF)</a>
					<span class="legis-doc-list__meta">wersja z dnia 10.11.2025</span>
			</li>
			<li>
					<a href="#">Uzasadnienie projektu (PDF)</a>
					<span class="legis-doc-list__meta">Ministerstwo Rozwoju</span>
			</li>
			<li>
					<a href="#">Poprawki Senatu (DOCX)</a>
					<span class="legis-doc-list__meta">druk nr 1180A</span>
			</li>
			</ul>
	</section>

	<section class="legis-card">
			<h3>Powiązane informacje</h3>
			<ul class="legis-links">
			<li><a href="#">Przebieg procesu w Sejmie</a></li>
			<li><a href="#">Głosowania posłów</a></li>
			<li><a href="#">Opinia Biura Analiz Sejmowych</a></li>
			</ul>
	</section>
	</section>
</section>