<section class="legis-content">
	<section class="legis-column legis-column--projects" aria-label="Aktualne projekty">
		<div class="filters">
			<p-floatlabel>
				<input [(ngModel)]="titleFilter" type="text" pInputText />
				<label for="over_label">Tytuł</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-select [(ngModel)]="publisherFilter" [showClear]="true" [options]="publisherFilters"></p-select>
				<label for="over_label">Wnioskodawca</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-select [(ngModel)]="statusFilter" [options]="statusFilters" [showClear]="true"></p-select>
				<label for="over_label">Status</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-datepicker inputId="over_label" showIcon iconDisplay="input" selectionMode="range" [(ngModel)]="dateAnnouncementRangeFilter" [showClear]="true"/>
				<label for="over_label">Zakres dat wprowadzenia</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-datepicker inputId="over_label" showIcon iconDisplay="input" selectionMode="range" [(ngModel)]="dateChangeRangeFilter" [showClear]="true"/>
				<label for="over_label">Zakres dat zmiany</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-select [(ngModel)]="typeFilter" [options]="typeFilters" [showClear]="true"></p-select>
				<label for="over_label">Typ</label>
			</p-floatlabel>
		</div>
		
		<div class="projects">
			<!-- size="small" -->
			<p-table 
			[value]="filteredProjects()" 
			showGridlines 
			[tableStyle]="{ 'min-width': '50rem'}" 
			selectionMode="single"
			[(selection)]="selected"
			[paginator]="true"
			[rows]="10"
			>
				<ng-template #header>
					<tr>
						<th>Tytuł</th>
						<th>Wnioskodawca</th>
						<th>Status</th>
						<th>Data wprowadzenia</th>
						<th>Data ostatniej zmiany</th>
						<th>Typ</th>
					</tr>
				</ng-template>
				<ng-template #body let-project>
					<tr [pSelectableRow]="project">
						<td>{{ project.title }}</td>
						<td>{{ project.publisher }}</td>
						<td>{{ project.status }}</td>
						<td>{{ project.announcement_date | date: 'dd.MM.yyyy'}}</td>
						<td>{{ project.change_date | date: 'dd.MM.yyyy'}}</td>
						<td>{{ project.act_type }}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</section> 

	<!-- kolumna prawa: dokumenty / szczegóły -->
	<section class="legis-column legis-column--details" aria-label="Szczegóły projektu">
	@if(selected()) {
	<header class="legis-column__header">
		<h2>Szczegółowe informacje</h2>
	</header>

	<section class="legis-card">
		<div class="legis-card-category">
			<!-- <h3>Termin najbliższego posiedzenia</h3> -->
			<p>{{selected()!.title}}</p>
			<p>{{selected()!.publisher}}</p>
			<p>{{selected()!.status}}</p>
			<!-- <p>{{selected.step}}</p> -->
			<!-- <p>Komisja Finansów Publicznych – 12.12.2025, godz. 10:00</p>
			<p>Sala 118, budynek C, Sejm RP</p> -->
	
			<button (click)="goToDetails()" class="gov-btn gov-btn--secondary gov-btn--full">
				Zobacz szczegóły
			</button>
		</div>

		<!-- <div class="legis-card-category">
			<h3>Dokumenty</h3>
			<ul class="legis-doc-list">
			<li>
				<a href="#">Projekt ustawy (PDF)</a>
			</li>
			<li>
				<a href="#">Uzasadnienie projektu (PDF)</a>
			</li>
			<li>
				<a href="#">Poprawki Senatu (DOCX)</a>
			</li>
			</ul>
		</div>

		<div class="legis-card-category">
			<h3>Powiązane informacje</h3>
			<ul class="legis-links">
			<li><a href="#">Przebieg procesu w Sejmie</a></li>
			<li><a href="#">Głosowania posłów</a></li>
			<li><a href="#">Opinia Biura Analiz Sejmowych</a></li>
			</ul>
		</div> -->
	</section>
	}
	</section>
</section>