<section class="legis-content">
	<section class="legis-column legis-column--projects" aria-label="Aktualne projekty">
		<div class="filters">
			<p-floatlabel>
				<input [(ngModel)]="titleFilter" type="text" pInputText />
				<label for="over_label">Tytuł</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-select [(ngModel)]="publisherFilter" [showClear]="true" [options]="publisherFilters"></p-select>
				<label for="over_label">Wnioskodawca</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-select [(ngModel)]="statusFilter" [options]="statusFilters" [showClear]="true"></p-select>
				<label for="over_label">Status</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-datepicker inputId="over_label" showIcon iconDisplay="input" selectionMode="range" [(ngModel)]="dateAnnouncementRangeFilter" [showClear]="true"/>
				<label for="over_label">Zakres dat wprowadzenia</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-datepicker inputId="over_label" showIcon iconDisplay="input" selectionMode="range" [(ngModel)]="dateChangeRangeFilter" [showClear]="true"/>
				<label for="over_label">Zakres dat zmiany</label>
			</p-floatlabel>

			<p-floatlabel>
				<p-select [(ngModel)]="typeFilter" [options]="typeFilters" [showClear]="true"></p-select>
				<label for="over_label">Typ</label>
			</p-floatlabel>
		</div>

		<div class="projects">
			<!-- size="small" -->
			<p-table
			[value]="filteredProjects()"
			showGridlines
			[tableStyle]="{ 'min-width': '50rem'}"
			selectionMode="single"
			[(selection)]="selected"
			[paginator]="true"
			[rows]="10"
			>
				<ng-template #header>
					<tr>
						<th>Tytuł</th>
						<th>Wnioskodawca</th>
						<th>Status</th>
						<th>Data wprowadzenia</th>
						<th>Data ostatniej zmiany</th>
						<th>Typ</th>
						<th><i class="pi pi-envelope" style="font-size: 1rem"></i></th>
					</tr>
				</ng-template>
				<ng-template #body let-project>
					<tr [pSelectableRow]="project" (click)="refreshSelected()">
						<td>{{ project.title }}</td>
						<td>{{ project.publisher }}</td>
						<td>{{ project.status }}</td>
						<td>{{ project.announcement_date | date: 'dd.MM.yyyy'}}</td>
						<td>{{ project.change_date | date: 'dd.MM.yyyy'}}</td>
						<td>{{ project.act_type }}</td>
            <td>
              <i class="pi pi-envelope" style="font-size: 1rem" (click)="subscribeTo(project.id,$event)"></i>
<p-dialog
  header="Powiadamiaj mnie o zmianiach"
  [modal]="true"
  [visible]="visible === project.id"
  [style]="{ width: '40rem' }"
  (close)="visible = 0"
>
    <span style="color: #6b7280; display: block; margin-bottom: 2rem;">
        {{ project.title }}
    </span>

    <div style="display: flex; align-items: center; gap: 1rem; margin-bottom: 1rem;">
        <label
            for="email"
            style="font-weight: 600; width: 6rem;"
        >
            Email
        </label>
        <input
            pInputText
            id="email"
            type="email"
            autocomplete="email"
            style="flex: 1;"
        />
    </div>

    <div style="display: flex; justify-content: flex-end; gap: 0.5rem;">
        <p-button label="Zasubskrybuj" (click)="visible = 42424242"></p-button>
    </div>
</p-dialog>
            </td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</section>

	<!-- kolumna prawa: dokumenty / szczegóły -->
	<section class="legis-column legis-column--details" aria-label="Szczegóły projektu">
	@if(selected()) {
	<header class="legis-column__header">
		<h2>Szczegółowe informacje</h2>
	</header>

	<section class="legis-card">
		<div class="legis-card-category">
			<!-- <h3>Termin najbliższego posiedzenia</h3> -->
			<p>{{selected()!.title}}</p>
			<p>{{selected()!.publisher}}</p>
			<p>{{selected()!.status}}</p>
			<!-- <p>{{selected.step}}</p> -->
			<!-- <p>Komisja Finansów Publicznych – 12.12.2025, godz. 10:00</p>
			<p>Sala 118, budynek C, Sejm RP</p> -->

			<button (click)="goToDetails()" class="gov-btn gov-btn--secondary gov-btn--full">
				Zobacz szczegóły
			</button>

			<button (click)="generateAiSummary()" class="gov-btn gov-btn--secondary gov-btn--full">
				Wygeneruj podsumowanie AI
			</button>
		</div>
		<p-progressbar *ngIf="generatingSummary" mode="indeterminate" [style]="{ height: '6px' }" />
	</section>

	@if(aiResponse) {
	<header class="legis-column__header">
		<h2>Podsumowanie sztucznej inteligencji dla pliku</h2>
	</header>

<p-dialog
  header="Powiadamiaj mnie o zmianiach"
  [modal]="true"
  [visible]="visible === 42424242"
  [style]="{ width: '40rem' }"
  (hide)="visible = 0"
>
    <div style="font-weight: bold; font-size: 1rem">
      Zasubskrybowano!
    </div>
    <div>
    Dostaniesz powiadomienia o aktualizacjach drogą mailową
    </div>
</p-dialog>

	<section class="legis-card">
		<div class="ai-response">
			<h3>Wpływ na</h3>
			<ul>
				@for(party of aiResponse.affected_parties;track $index) {
				<li>{{party}}</li>
				}
			</ul>

			<h3>Najważniejsze punkty</h3>
			<ul>
				@for(party of aiResponse.key_points;track $index) {
				<li>{{party}}</li>
				}
			</ul>
		</div>
	</section>
	}
	}
	</section>
</section>

