/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

body {
  padding: 0;
  margin: 0;

  font-family: "Noto Sans", sans-serif;
}